%fieldset
  %h3 Forum
  %p
    = edit_config 'forum.public?'
  %p
    = edit_config 'forum.cached?'
  %p
    = edit_config 'forum.layout'
  %p
    = edit_config 'forum.toolbar?'
  %p
    = edit_config 'forum.editable_period'
  %p
    = edit_config 'forum.allow_page_comments?'
  %p
    = edit_config 'forum.commentable_period'
  %p
    = edit_config 'forum.allow_attachments?'
  %p
    = edit_config 'forum.offer_rss?'
  %p
    = edit_config 'forum.attachment.content_types'
  %p
    = edit_config 'forum.attachment.max_size'
