%p.ruled
  = show_config 'forum.layout'
%p.ruled
  = show_config 'forum.editable_period'
%p.ruled
  = show_config 'forum.public?'
%p.ruled
  = show_config 'forum.allow_page_comments?'
%p.ruled
  = show_config 'forum.comments_have_attachments?'
%p.ruled
  = show_config 'forum.attachment_content_types'
%p.ruled
  = show_config 'forum.max_attachment_size'
