<% content_for "user_controls" do %>
  <div id="user_controls">
    <% if current_user %>
    	<% if current_user.activated? %>
      	<p style="float: right"><%= link_to "log out", user_logout_url %></p>
      	<p>
					Hello <%= link_to current_user.display_name, url_for(current_user) %>. 
					Your <%= link_to "preferences", edit_user_url(current_user) %> | 
					<%= link_to "posts", user_posts_url(current_user) %> | 
					<%= link_to "subscriptions", user_monitorships_url(current_user) %> | 
					<%= link_to "feed", formatted_monitored_posts_url(current_user, :rss) %> 
				</p>
			<% else %>
				<p>Please check your email for an activation message.</p>
			<% end %>
    <% else %>
      <p>To take part, please <%= link_to "log in", user_login_url %> or <%= link_to "register", new_user_url %>.</p>
    <% end %>
  </div>
<% end %>