- if using_forums?
  %h2
    = t('forum.forums')
  %ul
    - Forum.all.each do |forum|
      - if topic = forum.topics.bydate.first
        %li
          = link_to forum.name, forum_url(forum), :class => 'title'
          %br
          = forum.topics.count
          = t('forum.topics') + ','
          = t('forum.most_recently')
          = link_to_topic(topic)
