- if using_forums?
  %h2
    = t('forum_extension.forums')
  %ul
    - Forum.visible_to(current_reader).each do |forum|
      - if topic = forum.topics.bydate.first
        %li
          = link_to forum.name, forum_url(forum), :class => 'title'
          %br
          %span.context
            = forum.topics.count
            = t('forum_extension.topics') + ','
            = t('forum_extension.most_recently')
            = link_to_topic(topic)
