= render :partial => 'readers/flasher'

#forum
  %h1 Discussion Categories
  #forum_preamble
    %p
      These are the broad filing areas we use to organise the forum. 
      You can also see a list of 
      = link_to "all the most recent conversation", topic_list_url
      in any category.

  - if @forums.empty?
    %p No categories defined here yet.

  - else
    - paginated_section @forums do
      %ul.main
        = render :partial => 'forums/forum', :collection => @forums

= render :partial => 'readers/controls'

- content_for :breadcrumbs do
  = link_to 'Forum', forums_url
  \&gt;
  Categories

- content_for :title do
  Discussion Categories
