= render :partial => 'forums/standard_parts'

- content_for :title do
  = t('forum.forums_heading')

- content_for :introduction do
  %p
    = t('forum.forums_introduction')

- content_for :sidebar do
  = render :partial => 'posts/search_form', :locals => {:minimal => true}
  = render :partial => 'topics/latest'
  = render :partial => 'topics/busiest'

- content_for :messages do
  - if @forums.empty?
    %p 
      = t('forum.no_forums')
  - else
    = yield :pagination if @forums.previous_page
    = render :partial => 'forums/forum', :collection => @forums
    = yield :pagination if @forums.next_page

- content_for :pagination do
  = pagination_and_summary_for(@forums, t('forum.forum'))

- content_for :feedurl do
  = forums_path(:format => :rss)

- content_for :feedlink do
  = feed_link(forums_path(:format => :rss))

- content_for :breadcrumbs do
  = link_to t('forum.forum').titlecase, topics_url
  = t('forum.separator')
  = yield :title



#forum
  = yield :messages
  = yield :newtopic
