= render :partial => 'readers/flasher'

#forum
  #forum_preamble
    %p
      These are the broad filing areas we use to organise the forum. 
      You can also see a list of 
      = link_to "all the most recent discussion", topics_url
      in any category.

    %p
      = link_to "start a new discussion", new_topic_url, :class => 'newmessage'

  - if @forums.empty?
    %p No categories defined here yet.

  - else
    - if @forums.previous_page
      = paginate_and_summarise @forums, 'forums'

    %ul.main
      = render :partial => 'forums/forum', :collection => @forums

    = paginate_and_summarise @forums, 'forums'

- content_for :pagetitle do
  Discussion Categories

- content_for :feed do
  = feed_link(formatted_forums_path(:rss))

- content_for :controls do
  = render :partial => 'readers/controls'
  
- content_for :breadhead do
  = link_to "Forum", topics_url, :class => 'breadhead'

- content_for :breadcrumbs do
  = link_to 'Forum', topics_url
  \&gt;
  Categories

- content_for :help do
  = render :partial => 'topics/help'