- content_for :signals do
  = render :partial => 'readers/flasher'

- content_for :title do
  = t('forums')

- content_for :preamble do
  %p
    = t('forums_introduction')
    = link_to t('latest_topics'), topics_url

- content_for :new_topic do
  .newmessage
    = link_to t('new_topic'), new_topic_url

- content_for :messages do
  - if @forums.empty?
    %p 
      = t('no_forums')
  - else
    %ul.main
      = render :partial => 'forums/forum', :collection => @forums

- content_for :sidebar do
  = render :partial => "topics/latest"

- content_for :pagination do
  = pagination_and_summary_for(@forums, t('forum'))

- content_for :feed do
  = feed_link(forums_path(:format => :rss))

- content_for :controls do
  = render :partial => 'readers/controls'
  
- content_for :breadhead do
  = link_to t("forum"), forum_home_url

- content_for :breadcrumbs do
  = link_to 'Forum', topics_url
  \&gt;
  = t('forums')
  
#forum
  = yield :pagination if @forums.previous_page
  = yield :messages
  = yield :pagination if @forums.next_page
