<%= render :partial => 'forums/controls' %>
<%= render :partial => 'forums/notification' %>

<% if @forums.empty? %>

  <div class="notable contentblock">
    <p>No discussion areas defined here yet.</p>
  </div>
  
<% else %>
  <div class="forum_preamble contentblock">
	
		<%= feed_tag('everything', formatted_all_posts_path(:rss)) %>
		
    <h1>Welcome to the forum!</h1>

     <% if current_user %>
       <p>You are logged in as <%= link_to current_user.display_name, url_for(current_user) %>, by the way. If that's not you, please <%= link_to "log out", user_logout_url %>.
     <% else %>
       <p>Please feel free to browse around. When you come to join a conversation or start a new one, a simple <%= link_to "registration", user_register_url %> or <%= link_to "login", user_login_url %> form will pop up. It only takes a moment to register, but it helps us to keep out the spam.
     <% end %>
      
		You can jump straight to a <%= link_to 'list of recent posts', all_posts_path %>, browse through these broad discussion areas or just <%= link_to "start a conversation", new_topic_url(@forums.first) %></p>
  </div>

  <table class="wide forums">
  <thead>
  <tr>
    <th>Forum</th>
    <th>Topics</th>
    <th>Latest</th>
  </tr>
  </thead>
  <tbody>
  <% for forum in @forums %>
  <% trclass = cycle("odd", "even", :name => 'forums') %>
  <tr class="forum_row <%= trclass %>">
    <td class="forum_title">
      <h3><%= link_to forum.name, forum_url(forum) %></h3>
    </td>
    <td class="forum_posts"><%= forum.topics_count %></td>
    <td class="forum_latest">
      <% 
        topic = forum.recent_topics.first 
        if topic 
      %>
      	<%= gravatar(topic.replied_by_user, {:size => 24}, {:class => 'thumbnail_gravatar'}) if topic.replied_by_user %>
        <%= link_to topic.title, topic_url(forum, topic), :page => topic.last_page, :anchor => "posts-#{topic.last_post_id}" %>
        <%  if topic.replied_by_user %>last message <%= time_ago_in_words(topic.replied_at) %> ago by <span class="author"><strong class="fn"><%= topic.replied_by_user.display_name %></strong></span><% end %>
      <% else %>
        No topics yet
      <% end %>
    </td>
  </tr>
  <tr class="summary_row <%= trclass %>">
    <td colspan ="3" class="forum_description">
      <p><%= truncate(forum.description, 240) %></p>
    </td>
  </tr>
  </tbody>
  <% end %>
  </table>

<% end %>

<% content_for :breadcrumbs do %>
  <%= link_to 'Home', '/' %> &gt;
  Forum
<% end %>

<% content_for :title do %>
  Forum
<% end %>
