= render :partial => 'readers/flasher'

#forum
  #forum_preamble
    = clean_textilize(@forum.description)

  - unless @forum.for_comments?
    %p
      = link_to "start a new discussion here", new_forum_topic_url(@forum), :class => 'newmessage'

  - if @topics.empty?
    %p No talk here yet.

  - else
    - unless @topics.current_page == 1
      = paginate_and_summarise @topics, 'topics'

    %ul.main
      = render :partial => 'topics/topic', :collection => @topics, :locals => { :with_context => false }

    = paginate_and_summarise @topics, 'topics'

- content_for :pagetitle do
  = @forum.name

- content_for :feed do
  = feed_link(formatted_forum_path(@forum, :rss))

- content_for :breadhead do
  = link_to 'Categories', forums_url, :class => 'breadhead'

- content_for :breadcrumbs do
  = link_to 'Discussion Categories', forums_url
  \&gt;
  = link_to @forum.name, forum_url(@forum) 

- content_for :controls do
  = render :partial => 'readers/controls'
