- content_for :signals do
  = render :partial => 'readers/flasher'

- content_for :title do
  = @forum.name

- content_for :introduction do
  = clean_textilize(@forum.description)

- content_for :newtopic do
  .newmessage
    = link_to t('new_topic_here'), new_post_url(:forum_id => @forum.id)

- content_for :sidebar do
  = render :partial => "topics/latest"

- content_for :pagination do
  = pagination_and_summary_for @topics, 'topics'

- content_for :feedlink do
  = feed_link(forum_path(@forum, :format => :rss))

- content_for :parent do
  = link_to t('forums'), forums_url

- content_for :breadhead do
  = home_page_link
  = t('separator')
  = link_to t('forum').titlecase, topics_url
  = t('separator')
  = yield :parent

- content_for :breadcrumbs do
  = yield :breadhead
  = t('separator')
  = yield :title

- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :messages do
  - if @topics.empty?
    %p 
      = t('no_topics')
  - else
    = yield :pagination if @topics.previous_page
    = render :partial => 'topics/topic', :collection => @topics, :locals => { :with_context => false }
    = yield :pagination if @topics.next_page



#forum
  = yield :messages
  = yield :newtopic
