- content_for :title do
  = @forum.name

- content_for :introduction do
  = clean_html(@forum.description)

- content_for :sidebar do
  = render :partial => "topics/latest"

- content_for :pagination do
  = pagination_and_summary_for @topics, 'topics'

- content_for :feedurl do
  = forum_path(@forum, :format => :rss)

- content_for :feedlink do
  = feed_link(forum_path(@forum, :format => :rss))

- content_for :breadhead do
  %span.breadhead
    = link_to t('forum_extension.forum').titlecase, topics_url
    = t('reader_extension.separator')
    = link_to t('forum_extension.forums'), forums_url

- content_for :breadcrumbs do
  = link_to t('forum_extension.forum').titlecase, topics_url
  = t('reader_extension.separator')
  = link_to t('forum_extension.forums'), forums_url
  = t('reader_extension.separator')
  = yield :title

- content_for :messages do
  - if @topics.empty?
    %p 
      = t('forum_extension.no_topics')
  - else
    = yield :pagination if @topics.previous_page
    = render :partial => 'topics/topic', :collection => @topics, :locals => { :with_context => false }
    = yield :pagination if @topics.next_page

= render :partial => 'shared/standard_forum_parts'

.forum
  = yield :messages
  = yield :newtopic
