- content_for :signals do
  = render :partial => 'readers/flasher'

- content_for :title do
  = @forum.name

- content_for :preamble do
  = clean_textilize(@forum.description)

- content_for :new_topic do
  - unless @forum.for_comments?
    .newmessage
      = link_to t('new_topic_here'), new_forum_topic_url(@forum)

- content_for :messages do
  - if @topics.empty?
    %p 
      = t('no_topics')
  - else
    %ul.main
      = render :partial => 'topics/topic', :collection => @topics, :locals => { :with_context => false }

- content_for :pagination do
  = pagination_and_summary_for @topics, 'topics'

- content_for :feed do
  = feed_link(forum_path(@forum, :format => :rss))

- content_for :breadhead do
  = link_to t("forum"), forum_home_url
  = t('separator')
  = link_to t('forums'), forums_url

- content_for :breadcrumbs do
  = link_to t("forum"), forum_home_url
  = t('separator')
  = link_to t('categories'), forums_url
  = t('separator')
  = link_to @forum.name, forum_url(@forum) 

- content_for :controls do
  = render :partial => 'readers/controls'


#forum
  = yield :new_topic
  = yield :preamble
  = yield :pagination if @topics.previous_page
  = yield :messages
  = yield :pagination if @topics.next_page
