<%= render :partial => 'forums/controls' %>
<%= render :partial => 'forums/notification' %>

<div class="forum_description contentblock">
	<%= feed_tag('this forum', formatted_forum_path(@forum, :rss)) %>
  <h1><%= @forum.name %></h1>
  <%= @forum.body_html %>
</div>

<%= render :partial => 'topics' %>

<div class="forum_topiclink contentblock">
  <% if current_user %>
    <h3><%= link_to 'Start a new conversation', new_topic_url(@forum) %> in <%= @forum.name %></h3>
  <% else %>
    <%= render :partial => 'login_form' %>
  <% end %>
</div>

<% content_for :breadcrumbs do %>
  <%= link_to 'Home', '/' %> &gt;
  <%= link_to 'Forum', '/forums' %> &gt;
  <%= @forum.name %>
<% end %>

<% content_for :title do %>
  <%= @forum.name %>
<% end %>
