- include_stylesheet 'admin/forum_dashboard'

#recent_topics.dashboard_module
  .header
    %h2
      = t('forum_extension.latest_forum_activity')
  .blockcontent
    - latest = Topic.latest(8)
    - if latest.any?
      - latest.each do |topic|
        - post = topic.posts.last
        %h3
          = link_to_post(post, :class => 'topic')
          %span.context
            - if topic.has_replies?
              = t('forum_extension.new_reply_from')
              = link_to topic.replied_by.name, reader_url(topic.replied_by)
              = friendly_date(topic.replied_at)
            - else
              = t('forum_extension.started_by')
              = link_to topic.reader.name, reader_url(topic.reader)
              = friendly_date(topic.created_at)
      %p.minor
        =t('forum_extension.administer_by_browsing')
    - else
      %p.minor
        =t('dashboard_extension.no_show')
      

#recent_comments.dashboard_module
  .header
    %h2
      = t('forum_extension.pages_with_latest_comments')
  .blockcontent
    - if Radiant.config['forum.allow_page_comments?']
      - latest = Page.last_commented(8)
      - if latest.any?
        - latest.each do |page|
          .page
            %h3
              = link_to("#{icon} #{node_title}", edit_admin_page_url(page), :title => page.url, :class => 'page')
              = link_to("&rarr;", page.path, :class => 'public')
            %p.minor
              =t('forum_extension.comment_count_from', :count => page.posts.count)
              = link_to topic.replied_by.name, reader_url(topic.replied_by)
              = friendly_date(topic.replied_at)
      - else
        %p.minor
          =t('dashboard_extension.no_show')
    - else
      %p.minor
        =t('forum_extension.comments_disabled')
    