%h2
  = t('forum.top_topics')
%ul
  - Topic.most_commented(10).each do |topic|
    %li
      = link_to_topic(topic, :class => 'title')
      %br
      = t('forum.started_by')
      = link_to(topic.reader.name, reader_url(topic.reader)) + ', '
      = t('forum.now_has')
      = topic.posts.count
      = t('forum.posts') + '.'
