- topic ||= @topic

= t('topic_started_on', :date => friendly_date(topic.posts.first.created_at))
= t('by')
= link_to topic.posts.first.reader.name, posts_url(:reader_id => topic.posts.first.reader.id), :class => 'person'
= t('under')
= link_to(topic.forum.name, forum_url(topic.forum)) + "."

