%p{ :class => @topic.errors.on(:name) ? 'with_errors' : '' }
  %label{:for => 'topic_name', :class => 'required'} Discussion title
  %br
  = form.text_field :name, :class => "titular"
  - if @topic.errors.on(:name)
    %br
    = @topic.errors.on(:name).to_a.to_sentence
  - if admin?
    = form.check_box :locked
     %label{:for => 'topic_sticky', :class => 'admin'} Sticky
    = form.check_box :locked
     %label{:for => 'topic_locked', :class => 'admin'} Locked

- form.fields_for :post do |fields|
  %p{ :class => @post.errors.on(:body) ? 'with_errors' : '' }
    %label{:for => 'post_body', :class => 'required'} Opening message
    %br
    = fields.text_area :body, :class=> 'standard', :rows => 12
    - if @post.errors.on(:body)
      %br
      = @post.errors.on(:body).to_a.to_sentence
    
- if @topic.new_record? || admin?
  %p 
    %label{:for => "topic_forum_id"} Discussion category
    %br
    = form.select :forum_id, Forum.find(:all, :order => "position").map {|x| [x.name, x.id] }
