%p{ :class => @topic.errors.on(:name) ? 'with_errors' : '' }
  %label{:for => 'topic_name', :class => 'required'} Discussion title
  %br
  = form.text_field :name, :class => "titular"
  - if @topic.errors.on(:name)
    %br
    = @topic.errors.on(:name).to_a.to_sentence
  - if admin?
    %br
    %span.quiet
      = form.check_box :locked
      %label{:for => 'topic_sticky', :class => 'admin'} Sticky
      = form.check_box :locked
      %label{:for => 'topic_locked', :class => 'admin'} Locked

%p{ :class => @topic.errors.on(:body) ? 'with_errors' : '' }
  %label{:for => 'topic_body', :class => 'required'} Opening message
  %br
  = form.text_area :body, :class=> 'standard', :rows => 12
  - if @topic.errors.on(:body)
    %br
    = @topic.errors.on(:body).to_a.to_sentence
    
- if @topic.new_record? && !@forum
  %p 
    %label{:for => "topic_forum_id"} Discussion category
    %br
    = form.select :forum_id, Forum.find(:all).map {|x| [x.name, x.id] }
- else
  %p
    The new discussion will be filed under 
    = link_to(@forum.name, forum_url(@forum)) + '.'