%h2
  = t('recent_topics')
%ul.recently
  - Topic.latest(10).each do |topic|
    - if topic.visible_to?(current_reader)
      %li.topic
        %span.subject
          %a{:href => forum_topic_url(topic.forum, topic)}
            - if topic.reader
              = gravatar_for(topic.reader, {:size => 40}, {:alt => topic.reader.name, :class => 'gravatar'})
            = topic.name
        %span.context
          = t('posted_by')
          = link_to topic.reader.name + '.', reader_url(topic.reader)
          = t('post_count_from', :count => topic.posts.count - 1)
          - if topic.has_posts?
            = link_to topic.replied_by.name, reader_url(topic.replied_by)
            = friendly_date(topic.replied_at)
          - else 
            = friendly_date(topic.created_at)

