<%
  trclass ||= cycle("even", "odd", :name => 'posts')
%>

<div id="login">
  <table class="wide friendly login">
  <tr class="post_row <%= trclass %>">
    <td class="post_author">
      <p>To reply, please log in or <%= link_to "register", user_register_url %></p>
    </td>
    <td class="post_body">
      <% form_for :user, :url => user_login_url do |f| %>
        <%= hidden_field_tag "anchor", "reply_form" %>
        <p>
          <label for="user_login">Username</label><br />
          <%= f.text_field "login" %>
        </p>
        <p>
          <label for="user_login">Password</label><br />
          <%= f.password_field "password" %>
        </p>
        <p>
          <%= submit_tag "Log in" %> <%= check_box_tag "remember_me" %><label for="remember_me">Remember me</label>
        </p>
      <% end %>
    </td>
  </tr>
  </table>
</div>

