<%
  posts ||= @posts || @topic.posts
%>

<table class="wide posts">
<% for post in posts do %>
<% trclass = cycle("even", "odd", :name => 'posts') %>
<tr class="post_row <%= trclass %>" id="<%= post.dom_id %>-row">
  <td class="post_author">
    <p>
      <%= link_to gravatar(post.user, {:size => 60}, {:class => 'gravatar'}), url_for(post.user) %>
      posted <%= time_ago_in_words(post.created_at) %> ago by
      <span class="fn"><%= link_to truncate(h(post.user.display_name), 15), user_path(post.user), :class => (post.user == @posts.first.user ? "threadauthor" : nil) %></span>
    </p>
    <% if post.user.admin? or post.forum.moderators.include?(post.user) %>
      <p class="status">
        <% if post.user.developer? %>
          Site builder
        <% elsif post.user.admin? %>
          Administrator
        <% elsif post.forum.moderators.include?(post.user) %>
          Moderator
        <% end %>
        <br />
        <%= post.user.posts_count %> <%= pluralize(post.user.posts_count, 'post') %>
      </p>
    <% end %>
  </td>
  <td class="post_body<% if post == posts.first %> first_post<% end %>" id="post-body-<%= post.id %>">
    <%= post.body_html %>
  </td>
</tr>

<% end %>

</table>
