- topic ||= @topic

- if topic.locked?
  %p.administrative
    = t("forum_extension.topic_locked")

- elsif Radiant.config['forum.cached?'] && !@inline
  .new_post
    .wrapper
      = link_to t("forum_extension.add_reply"), new_topic_post_url(topic), :class => 'remote post'

- else
  - if current_reader
    - if current_reader.activated?
      .post.replyform
        .wrapper
          .post_header
            = standard_gravatar_for(current_reader)
            %h2.person
              = t("forum_extension.add_reply")
            %p.context
              = t('forum_extension.if_you_not', :name => current_reader.name)
              = link_to(t('reader_extension.log_out'), reader_logout_url) + '.'
          = render :partial => 'posts/form', :locals => {:post => topic.posts.build, :omit_label => true}
    - else
      = render :partial => 'reader_activations/activation_required', :locals => {:purpose => t('forum_extension.to_reply')}
  - else
    = render :partial => 'reader_sessions/login_form', :locals => {:purpose => t('forum_extension.to_reply')}
