- post = topic.posts.first

%div{:id => topic.dom_id}
  .post
    .wrapper
      = standard_gravatar_for(post.reader, topic_url(topic))
      .post_header
        %h2
          = link_to_topic(topic)
          = feed_link(topic_path(topic, :format => :rss))
          
        = render :partial => "topics/context", :locals => {:topic => topic}

      .post_body
        = truncate_words(scrub_html(post.body), 24)
        = render :partial => 'posts/attachments', :locals => {:post => post}

      - if topic.has_replies?
        .post_replies
          %p.replies
            = render :partial => 'topics/voices', :locals => {:topic => topic}
            = render :partial => 'topics/replies', :locals => {:topic => topic}
