= render :partial => 'readers/flasher'

#forum
  #forum_preamble
    %p
      This is a list of all the discussions going on here, with the most recently updated first. 
      You can also see a more organised list of 
      = link_to("discussion by category", forums_url) + '.'
    
    %p
      = link_to "start a new discussion", new_topic_url, :class => 'newmessage'

  - if @topics.empty?
    %p No talk here yet.

  - else
    - if @topics.previous_page
      = paginate_and_summarise @topics, 'topics'
      
    %ul.main
      = render :partial => 'topics/topic', :collection => @topics, :locals => {:with_context => true}

    = paginate_and_summarise @topics, 'topics'

- content_for :breadcrumbs do
  = link_to 'Forum', forums_url
  \&gt;
  All Discussions 

- content_for :pagetitle do
  Latest discussion

- content_for :feed do
  = feed_link(formatted_topics_path(:rss))

- content_for :marginalia do
  - if current_reader
    %h3
      your topics
    %ul
      - current_reader.topics.latest(10).each do |topic|
        %li
          = link_to topic.name, forum_topic_url(topic.forum, topic)
          %span.credit
            = topic.posts.count
            - if topic.has_posts?
              = pluralize(topic.posts.count, 'reply') + ','
              - if topic.posts.count > 1
                most recently
              from
              = topic.replied_by.name
              = friendly_date(topic.replied_at)

- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :help do
  = render :partial => 'topics/help'