= render :partial => 'forums/standard_parts'

- content_for :messages do
  - if @topics.empty?
    %p 
      = t('no_topics')
  - else
    = render :partial => 'topics/topic', :collection => @topics

- content_for :sidebar do
  = render :partial => 'forums/latest'
  = render :partial => 'topics/busiest'

- content_for :pagination do
  = pagination_and_summary_for(@topics, t('topics'))

- content_for :breadcrumbs do
  = link_to t('forum').titlecase, topics_url
  = t('separator')
  = yield :title

- content_for :title do
  = t('topics_heading')

- content_for :feedlink do
  = feed_link(topics_url(:format => :rss))

- content_for :introduction do
  %p
    =t('topics_introduction')

#forum
  = yield :pagination if @topics.previous_page
  = yield :messages
  = yield :pagination if @topics.next_page



