= render :partial => 'readers/flasher'

#forum
  %h1 All Discussions
  #forum_preamble
    %p
      This is a list of all the discussions going on here, with the most recently updated first. 
      You can also see a more structured list of 
      = link_to "discussions by category", forums_url

- if @topics.empty?
  %p No talk here yet.

- else
  - paginated_section @topics do
    %ul.main
      = render :partial => 'topics/topic', :collection => @topics

= render :partial => 'readers/controls'

- content_for :breadcrumbs do
  = link_to 'Forum', forums_url
  \&gt;
  All Discussions 

- content_for :title do
  All Discussions
