- content_for :messages do
  - if @topics.empty?
    %p 
      = t('forum_extension.no_topics')
  - else
    = render :partial => 'topics/topic', :collection => @topics

- content_for :sidebar do
  = render :partial => 'forums/latest'
  = render :partial => 'topics/busiest'

- content_for :pagination do
  = pagination_and_summary_for(@topics, t('forum_extension.topics'))

- content_for :breadcrumbs do
  = link_to t('forum_extension.forum').titlecase, topics_url
  = t('reader_extension.separator')
  = yield :title

- content_for :title do
  = t('forum_extension.topics_heading')

- content_for :feedurl do
  = topics_url(:format => :rss)

- content_for :feedlink do
  = feed_link(topics_url(:format => :rss))

- content_for :introduction do
  %p
    =t('forum_extension.topics_introduction')

= render :partial => 'shared/standard_forum_parts'

.forum
  = yield :pagination if @topics.previous_page
  = yield :messages
  = yield :pagination if @topics.next_page
  = yield :newtopic



