= render :partial => 'readers/flasher'

#forum
  #forum_preamble
    %p
      This is a list of all the discussions going on here, with the most recently updated first. 
      You can also see a more organised list of 
      = link_to("discussions by category", forums_url) + '.'
    
    %p
      = link_to "start a new conversation", new_topic_somewhere_url, :class => 'newmessage'

  - if @topics.empty?
    %p No talk here yet.

  - else
    - paginated_section @topics do
      %ul.main
        = render :partial => 'topics/topic', :collection => @topics, :locals => {:with_context => true}

- content_for :breadcrumbs do
  = link_to 'Forum', forums_url
  \&gt;
  All Discussions 

- content_for :pagetitle do
  Forum

- content_for :feed do
  = feed_link(topics_feed_path)

- content_for :controls do
  = render :partial => 'readers/controls'