- content_for :signals do
  = render :partial => 'readers/flasher'

- content_for :messages do
  - if @topics.empty?
    %p 
      = t('no_topics')
  - else
    = render :partial => 'topics/topic', :collection => @topics

- content_for :sidebar do
  %h2
    = t('forums')
  %ul
    - Forum.all.each do |forum|
      %li
        = link_to forum.name, forum_url(forum)
        %br
        = forum.topics.count
        = t('topics')

- content_for :newtopic do
  .newmessage
    = link_to t('new_topic'), new_post_url

- content_for :pagination do
  = pagination_and_summary_for(@topics, t('topics'))

- content_for :breadhead do
  = home_page_link
  = t('separator')
  = link_to t('forum').titlecase, topics_url

- content_for :breadcrumbs do
  = yield :breadhead
  = t('separator')
  = yield :title

- content_for :title do
  = t('topics_heading')

- content_for :feedlink do
  = feed_link(topics_path(:format => :rss))

- content_for :introduction do
  %p
    =t('topics_introduction')

- content_for :controls do
  = render :partial => 'readers/controls'

#forum
  = yield :pagination if @topics.previous_page
  = yield :messages
  = yield :pagination if @topics.next_page



