<%= render :partial => 'forums/controls' %>
<%= render :partial => 'forums/notification' %>

<div id="new_topic_preamble" class="contentblock">
 <h1><%= link_to "#{@forum.name} &raquo;", url_for(@forum), :class => 'breadhead' %> <br />New Topic</h1>
 <p>You are logged in as <%= link_to current_user.name, url_for(current_user) %>. If that's not you, please <a href="#">log out</a>.</p>


</div>

<div id="new_topic_form" class="contentblock">

	<% form_for :topic, :url  => topics_path(@forum), :html => {:class => 'friendly'} do |f| -%>
	  <%= render :partial => "form", :locals => {:f => f} %>
	  <%= submit_tag 'Post Topic' %> or <%= link_to('Cancel', forum_path(@forum)) %>
	<% end %>

</div>

<% content_for :breadcrumbs do %>
  <%= link_to 'Forum', '/forums' %> &gt;
  <%= link_to @forum.name, forum_url(@forum) %> &gt;
 	New Topic
<% end %>

<% content_for :title do %>
 	New Topic
<% end %>
