- content_for :signals do
  = render :partial => 'readers/flasher'

- content_for :form do
  - form_for :topic, :url  => @forum ? forum_topics_path(@forum) : topics_path, :html => {:class => 'friendly', :multipart => true} do |f|
    = render :partial => "form", :object => f
    %p.buttons
      = submit_tag t('new_topic_button')
      or 
      - if @forum
        = link_to t('cancel'), forum_path(@forum)
      - else
        = link_to t('cancel'), :back

- content_for :title do
  = t('new_topic_heading')

- content_for :breadhead do
  = link_to t('forum'), forum_home_url
  = t('separator')
  - if @forum
    = link_to @forum.name, forum_url(@forum)
  
- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :credits do
  %p
    = t('logged_in_as', :name => current_reader.name)
    = t('if_not_you')
    = link_to t('log_out'), reader_logout_url

- content_for :breadcrumbs do
  = link_to t('forum'), topics_url
  = t('separator')
  - if @forum
    = link_to @forum.name, forum_url(@forum)
    = t('separator')
  = t('new_topic')


#forum
  = yield :credits
  = yield :form

