- content_for :signals do
  = render :partial => 'readers/flasher'

- content_for :messages do
  = render :partial => 'posts/post', :object => @first_post, :locals => { :with_context => false, :first => true}
  = render :partial => 'posts/post', :collection => @posts, :locals => { :with_context => false, :first => false }

- content_for :new_topic do
  .newmessage
    = link_to t('new_topic_here'), new_forum_topic_url(@forum)

- content_for :reply_form do
  - unless @posts.next_page
    - if @topic.page
      = link_to "Post a reply", new_topic_post_url(@topic), :class => 'inviting remote_content'
    - else
      = render :partial => 'posts/reply'

- content_for :pagination do
  = pagination_and_summary_for(@posts, t('post'))

- content_for :title do
  = @topic.name

- content_for :thing_title do
  = @topic.name

- content_for :introduction do
  = t('topic_show_introduction')

- content_for :speaker do
  .speaker
    = gravatar_for(@topic.reader, {:size => 40}, {:alt => @topic.reader.name, :class => 'gravatar', :width => '40', :height => '40'})

- content_for :feed do
  = feed_link(topic_path(@topic, :format => :rss))

- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :parent do
  = link_to @topic.forum.name + ':', forum_url(@topic.forum)

- content_for :breadhead do
  = link_to t('forum'), forum_home_url
  = t('separator')
  = link_to @forum.name, forum_url(@forum)

- content_for :breadcrumbs do
  = link_to 'Forum', topics_url
  \&gt;
  = link_to @forum.name, forum_url(@forum) 
  \&gt;
  = @topic.name

#forum
  = yield :pagination if @posts.previous_page
  = yield :messages
  = yield :pagination if @posts.next_page
  = yield :reply_form unless @posts.next_page



