- content_for :pagination do
  = pagination_and_summary_for(@posts, t('forum_extension.post'))

- content_for :title do
  = @topic.name

- content_for :context do
  = render :partial => 'topics/context'

- content_for :person do
  = standard_gravatar_for(@topic.reader)

- content_for :first_post do
  = render :partial => 'posts/post', :locals => {:post => @topic.posts.first, :headless => true, :with_context => true}

- content_for :sidebar do
  = render :partial => 'topics/latest'

- content_for :feedurl do
  = topic_path(@topic, :format => :rss)

- content_for :feedlink do
  = feed_link(topic_path(@topic, :format => :rss))

- content_for :parent do
  - if @topic.forum
    = link_to @topic.forum.name + ':', forum_url(@topic.forum)

- content_for :breadhead do
  %span.breadhead
    = link_to t('forum_extension.forum').titlecase, topics_url
    = t('reader_extension.separator')
    = yield :parent

- content_for :breadcrumbs do
  %p.breadcrumbs
    = link_to t('forum_extension.forum').titlecase, topics_url
    = t('reader_extension.separator')
    = yield :parent
    = t('reader_extension.separator')
    = yield :title

- content_for :messages do
  = yield :pagination if @posts.previous_page
  = render :partial => 'posts/post', :collection => @posts, :locals => {:with_context => false}
  = yield :pagination if @posts.next_page

- content_for :reply_form do
  = render :partial => 'topics/reply'

= render :partial => 'shared/standard_forum_parts'

.forum
  = yield :first_post
  = yield :messages
  = yield :reply_form unless @posts.next_page

