- reader ||= @reader
- posts ||= reader.posts.paginate(pagination_parameters)

#forum
  %h2
    =t('forum_extension.forum_messages', :name => reader.name)

  - if posts.empty?
    %p 
      = t('forum_extension.no_posts')
  - else
    = pagination_and_summary_for(posts, t('forum_extension.post')) if posts.previous_page
    - posts.each do |post|
      - if post.comment?
        = render :partial => 'posts/post', :object => post, :locals => {:with_context => true}
      - elsif post.first?
        = render :partial => 'topics/topic', :object => post.topic
      - else
        = render :partial => 'posts/post', :object => post, :locals => {:with_context => true}
    = pagination_and_summary_for(posts, t('forum_extension.post')) if posts.next_page
