= render :partial => 'flasher'

#reader
  = gravatar_for(@reader, {:size => 128}, {:class => 'big_gravatar'})
  %h1.reader
    = @reader.name
  - if @reader.description.blank?
    %p No description available.
  - else
    = clean_textilize @reader.description

#forum
  %h2{:style => 'clear: left;'}
    Messages from
    = @reader.name
    = feed_link(search_posts_url(:reader_id => @reader.id, :format => :rss))
  - if @posts
    %ul.main
      - paginated_section @posts do
        = render :partial => 'posts/post', :collection => @posts, :locals => { :with_context => true, :without_author => false }
  - else
    %p None yet
    
- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  = link_to 'Readers', '/readers'
  &gt;
  = @reader.name

- content_for :pagetitle do
  = @reader.name
