= render :partial => 'flasher'

#reader
  - if @reader.description.blank?
    - if @reader == current_reader
      %p
        = link_to "Edit your preferences", edit_reader_url(current_reader)
        to put some text about yourself here.
    - else
      %p No description provided.
  - else
    = clean_textilize @reader.description

#forum
  %h2{:style => 'clear: left;'}
    Messages from
    = @reader.name
    = feed_link(search_posts_url(:reader_id => @reader.id, :format => :rss))

  - if @posts
    %ul.main
      - if @posts.previous_page
        = paginate_and_summarise @posts, 'comments'

      = render :partial => 'posts/post', :collection => @posts, :locals => { :with_context => true, :without_author => false, :preview => true }

      - if @posts.next_page
        = paginate_and_summarise @posts, 'comments'

  - else
    %p None yet
    
- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  = link_to 'Readers', '/readers'
  &gt;
  = @reader.name

- content_for :pagetitle do
  = @reader.name

- content_for :mugshot do
  = gravatar_for(@reader, {:size => 42}, {:alt => @reader.name, :class => 'gravatar'})
  
- content_for :breadhead do
  = link_to 'People', '/readers', :class => 'breadhead'
