- content_for :section_navigation do
  = link_to t('forum_extension.navigation.forum'), topics_url, :class => 'section'
  - if using_forums?
    = link_to t('forum_extension.navigation.forums'), forums_url
  = link_to t('forum_extension.navigation.search'), posts_url
  - if current_reader
    = link_to t('forum_extension.navigation.new_topic'), new_post_url
  - if Radiant::Config['forum.help_url']
    = link_to t('forum_extension.navigation.forum_help'), Radiant::Config['forum.help_url']

- content_for :header do
  .header
    = yield :person
    %h1.title
      = yield :breadhead
      = yield :title

- content_for :footer do
  .footer
    = yield :controls

- content_for :controls do
  = render :partial => 'accounts/controls'

- content_for :signals do
  = render :partial => 'accounts/flasher'

- content_for :search do
  = render :partial => 'posts/search_form', :locals => {:minimal => true}

- content_for :latest do
  = render :partial => 'topics/latest'

- content_for :busiest do
  = render :partial => 'topics/busiest'

- content_for :forums do
  = render :partial => 'forums/latest'

- content_for :newtopic do
  .newmessage
    - if using_forums? && @forum
      = link_to t('forum_extension.new_topic_here'), new_post_url(:forum_id => @forum.id), :class => "post"
    - else
      = link_to t('forum_extension.new_topic'), new_post_url(), :class => "post"
