- content_for :forum_css do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/forum.css', :media => 'all'}

- content_for :gallery_js do
  %script{:src => '/javascripts/gallery.js', :type => 'text/javascript'}

- content_for :forum_js do
  %script{:src => '/javascripts/reader.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/forum.js', :type => 'text/javascript'}

- content_for :toolbar_js do
  - if Radiant::Config['forum.toolbar?']
    %script{:src => '/punymce/puny_mce_src.js', :type => 'text/javascript'}
    %script{:src => '/punymce/plugins/link/link.js', :type => 'text/javascript'}
    %script{:src => '/punymce/plugins/image/image.js', :type => 'text/javascript'}
    %script{:src => '/punymce/plugins/emoticons/emoticons.js', :type => 'text/javascript'}
    %script{:src => '/punymce/plugins/editsource/editsource.js', :type => 'text/javascript'}
    %script{:src => '/punymce/plugins/paste.js', :type => 'text/javascript'}

- content_for :all_forum_js do
  = yield :forum_js
  = yield :gallery_js
  = yield :toolbar_js

- content_for :section_navigation do
  = link_to t('forum_extension.navigation.forum'), topics_url, :class => 'section'
  - if using_forums?
    = link_to t('forum_extension.navigation.forums'), forums_url
  = link_to t('forum_extension.navigation.search'), posts_url
  - if current_reader
    = link_to t('forum_extension.navigation.new_topic'), new_post_url
  - if Radiant::Config['forum.help_url']
    = link_to t('forum_extension.navigation.forum_help'), Radiant::Config['forum.help_url']

- content_for :header do
  .header
    = yield :person
    %h1.title
      = yield :breadhead
      = yield :title

- content_for :footer do
  .footer
    = yield :controls

- content_for :search do
  = render :partial => 'posts/search_form', :locals => {:minimal => true}

- content_for :latest do
  = render :partial => 'topics/latest'

- content_for :busiest do
  = render :partial => 'topics/busiest'

- content_for :forums do
  = render :partial => 'forums/latest'

- content_for :newtopic do
  .newmessage
    - if using_forums? && @forum
      = link_to t('forum_extension.new_topic_here'), new_post_url(:forum_id => @forum.id)
    - else
      = link_to t('forum_extension.new_topic'), new_post_url()

= render :partial => 'shared/standard_reader_parts'
