%div.post{:id => post.dom_id}
  %div.post_header
    %h2
      %a{:href => "/readers/#{post.reader.id}", :class => 'main'}
        = gravatar_for(post.reader, {:size => 40}, {:class => 'gravatar'}}
        = post.reader.name
    %p.context
      = post.created_at
    %div.post_body
      = post.body