- post ||= @post

- if post
  - if post.comment?
    = t('forum_extension.comment_on')
    = link_to post.page.title, post.page.url
    = t('forum_extension.posted')
  - elsif post.first?
    = t('forum_extension.new_topic_started')
  - else
    = t('forum_extension.reply_posted')
  - if post.reader
    = t('forum_extension.by')
    = link_to post.reader.name, reader_url(post.reader)
- else
  No post!