- post ||= @post
- omit_label ||= !post.first?

- form_for post, :html => {:multipart => true, :id => "post_form_#{post.id}", :class => 'friendly'} do |f|
  - if post.page
    = f.hidden_field :page_id
  - elsif post.first?
    - f.fields_for :topic do |tf|
      %p
        = tf.label :name, nil, :class => 'required'
        %br
        = tf.text_field :name, :class => 'titular'
        - if admin?
          %br
          %span.quiet
            = tf.check_box :sticky
            = tf.label :sticky, nil, :class => 'minor'
            = tf.check_box :locked
            = tf.label :locked, nil, :class => 'minor'

      - if using_forums?
        %p
          = tf.label :forum_id, nil, :class => "required"
          %br
          = tf.select :forum_id, Forum.all.collect {|forum| [ forum.name, forum.id ] }, :class=> 'standard'

  - elsif post.topic
    = f.hidden_field :topic_id

  %p
    - unless omit_label
      = f.label :body, nil, :class => 'required'
      %br
    = f.text_area :body, :rows => 12, :class => Radiant::Config['forum.toolbar?'] ? 'rte' : ''

  = render :partial => 'posts/uploader', :locals => {:post => post, :f => f}

  %p.buttons
    = f.submit t('forum_extension.save_post')
    - if @inline
      = t('or')
      = link_to t("cancel"), '#', :class => 'cancel'

