- post ||= @post
- first_post ||= nil
- with_context ||= false
- without_author ||= false

%div.post{:id => post.dom_id}
  %div{:class => post.first? ? 'first_post' : 'reply'}
    .post_header
      %h2
        %a{:href => reader_url(post.reader), :class => 'main'}
          = gravatar_for(post.reader, {:size => 40}, {:alt => post.reader.name, :class => 'gravatar', :width => '40', :height => '40'})
          = post.reader.name
      %p.context
        - if post.first?
          started this discussion
        - else
          replied
        - if with_context
          under
          = link_to post.topic.name, topic_url(post.forum, post.topic)
        - if post.created_at.to_date == ::Date.current
          = time_ago_in_words(post.created_at)
          ago
        - if post.created_at.to_date == ::Date.current - 1
          yesterday at
          = post.created_at.to_s(:short_time)
        - else
          on
          = post.created_at.to_s(:html_date)
          
    .post_wrapper
      .post_body
        - if post.frozen?
          %p Post removed
        - else
          = clean_textilize(post.body)

      .post_info
        - if admin? || post.editable_by?(current_reader)
          .edit_control
            = remove_link(post) unless post.first? && post.has_replies?
            = edit_link(post)
        - if post.still_editable_for
          %strong
            editable 
          for 
          = distance_of_time_in_words(post.still_editable_for)
        - if post.updated_at > post.created_at
          %strong
            updated 
          on 
          = post.updated_at.to_s(:html_date)
