- post ||= @post
- first ||= post.first?
- with_context ||= false
- headless ||= first unless defined? headless

- cssclasses = []
- cssclasses << 'first' if post.first?
- cssclasses << 'reply' unless post.first?
- cssclasses << 'deleted' if post.frozen?
  
.post{:id => post.dom_id, :class => cssclasses.join(' ')}
  - unless headless
    = standard_gravatar_for(post.reader)
  .post_header
    - unless headless
      - if with_context
        %h2.reply
          - if post.comment?
            = t('forum_extension.comment_on')
          -elsif post.reply?
            = t('forum_extension.reply_to')
          = link_to_post(post)
      - else
        %h2
          = post.reader.name

    %p.context
      - if with_context
        = render :partial => 'posts/context', :locals => {:post => post}
      = friendly_date(post.created_at) + '.'
      = render :partial => 'posts/edit_links', :locals => {:post => post}

  .wrapper
    .post_body
      = clean_html(post.body)
      = render :partial => 'posts/attachments', :locals => {:post => post}
