- minimal ||= false

%form.friendly.forum_search{:action => posts_url, :method => :get}
  - unless minimal
    %h2
      =t('forum_extension.search_header')

  %p
    %label{:for => "q"}
      = t(minimal ? 'forum_extension.search_form.minimal_query_label' : 'forum_extension.search_form.query_label')
    %input{:name => 'q', :type => 'search', :value => params[:q], :placeholder => 'Search', :class => 'standard search'}

  - unless minimal
    - if using_forums?
      %p
        %label{:for => "forum_id"}
          = t('forum_extension.search_form.forum_label')
        %select{:name => "forum_id"}
          %option{:value => ""}= t('forum_extension.anywhere')
          = options_from_collection_for_select(Forum.find(:all), "id", "name", params[:forum_id].to_i)

    - if Radiant::Config['forum.allow_search_by_reader?']
      %p
        %label{:for => "reader_id"}
          = t('forum_extension.search_form.person_label')
        %select{:name => "reader_id"}
          %option{:value => ""}
            =t('forum_extension.anyone')
          = options_from_collection_for_select(Reader.find(:all), "id", "name", params[:reader_id].to_i)

  %p.buttons
    %input{:type => 'submit', :value => "Search"}
