%form.friendly{:action => search_posts_url}
  %p
    %label{:for => "q"}
      = t('search_form.query_label')
    = text_field_tag "q", params[:q], :class => 'standard'

  %p
    %label{:for => "forum_id"}
      = t('search_form.forum_label')
      
    %select{:name => "forum_id"}
      %option{:value => ""}= t('anywhere')
      = options_from_collection_for_select(Forum.find(:all), "id", "name", params[:forum_id].to_i)

  %p
    %label{:for => "reader_id"}
      = t('search_form.person_label')
    %select{:name => "reader_id"}
      %option{:value => ""}
        =t('anyone')
      = options_from_collection_for_select(Reader.find(:all), "id", "name", params[:reader_id].to_i)

  %p.buttons
    = submit_tag t("search")
