- post ||= @post
%div.post{:id => post.dom_id}
  %h2 
    %a{:href => reader_url(post.reader), :class => 'main'}
      = gravatar_for(post.reader, {:size => 80}, {:alt => post.reader.name, :class => 'gravatar'})
      = post.reader.name
  %p.context
    - if with_context
      under
      = link_to post.topic.name, topic_url(post.forum, post.topic)
    = time_ago_in_words(post.created_at)
    ago
  = textilize(post.body)