/ this form is usually brought in by a remote call to sit on the page in the place of the post itself.

- message_type = @topic.page ? 'comment' : 'message'

- form_for :post, :url  => post_path(@topic.forum, @topic, @post), :html => {:method => 'put', :multipart => true, :id => "post_form_#{@post.id}", :class => 'friendly'} do |f|
  = render :partial => "posts/form", :object => f
  %div.buttons
    = submit_tag "Update #{message_type}" 
    to confirm changes
    or
    = link_to "cancel", topic_url(@topic.forum, @topic), :class => 'cancel'

- content_for :pagetitle do
  Edit
  = message_type

- content_for :breadhead do
  = link_to @post.topic.name, topic_url(@post.topic.forum), {:class => 'breadhead'}

- content_for :controls do
  = render :partial => 'readers/controls'
