= render :partial => 'forums/standard_parts'

- content_for :form do
  .wrapper
    .post_header
      .speaker
        = standard_gravatar_for(@post.reader)
      %h2.person
        = current_reader.name
      %p.context
        = friendly_date(@post.created_at)
    = render :partial => 'form', :locals => {:post => @post}

- content_for :title do
  - if @post.page
    = t('forum_extension.edit_comment')
  - elsif @post.first? 
    = t('forum_extension.edit_topic')
  - else
    = t('forum_extension.edit_reply')

- content_for :breadhead do
  - if @post.page
    = link_to @page.title, @page.url, :class => 'breadhead'
  - elsif @post.topic && !@post.first?
    = link_to_topic(@post.topic, :class => 'breadhead')


#forum
  = yield :form