- content_for :context do
  %p.context
    = render :partial => 'posts/context'

- content_for :person do
  = standard_gravatar_for(@post.reader)

- content_for :title do
  - if @post.page
    = t('forum_extension.edit_comment')
  - elsif @post.first? 
    = t('forum_extension.edit_topic')
  - else
    = t('forum_extension.edit_reply')

- content_for :breadhead do
  %span.breadhead
    - if @post.page
      = link_to @page.title, @page.url, :class => 'breadhead'
    - elsif @post.topic && !@post.first?
      = link_to_topic(@post.topic, :class => 'breadhead')

- content_for :form do
  - if post.editable_by?(current_reader)
    = render :partial => 'form', :locals => {:post => @post}
  - else
    = render :partial => 'ineditable', :locals => {:post => @post}
  
= render :partial => 'shared/standard_forum_parts'

.forum
  = yield :form
