= render :partial => 'readers/flasher'

#forum
  - if @posts.empty?
    %p No talk here yet.
  - else
    - paginated_section @topics do
      %ul.main
        - @posts.each do |post|
          = render :partial => 'posts/post', :collection => @posts, :locals => {:with_context => true}

- content_for :breadcrumbs do
  = link_to 'Forum', forums_url
  \&gt;
  = @title

- content_for :pagetitle do
  = @title

- content_for :feed do
  = feed_link(posts_feed_path)

- content_for :controls do
  = render :partial => 'readers/controls'
