- @searching = !@term.blank? || @reader || @forum || @topic

- feed_url_parts = {:format => :rss}
- if @searching
  - feed_url_parts[:q] = @term unless @term.blank?
  - feed_url_parts[:reader_id] = @reader.id if @reader
  - feed_url_parts[:forum_id] = @forum.id if @forum
  - feed_url_parts[:reader_id] = @topic.id if @topic

- content_for :title do
  = t('forum_extension.posts_heading')

- content_for :introduction do
  %p
    = render :partial => 'search_summary'
  
- content_for :sidebar do
  - unless @searching && @posts.empty?
    = render :partial => 'posts/search_form'
  = render :partial => "topics/latest"

- content_for :pagination do
  = pagination_and_summary_for(@posts, t('forum_extension.post'))

- content_for :breadcrumbs do
  = link_to t('forum_extension.forum').titlecase, topics_url
  = t('reader_extension.separator')
  = yield :title

- content_for :feedurl do
  = posts_path(feed_url_parts)

- content_for :feedlink do
  = feed_link(posts_path(feed_url_parts))

- content_for :messages do
  - if @posts.empty?
    - if @searching
      %p.has_error
        = t('forum_extension.no_search_results')
      = render :partial => 'posts/search_form'
    - else
      %p 
        = t('forum_extension.no_posts')
  - else
    = yield :pagination if @posts.previous_page
    = render :partial => 'posts/post', :collection => @posts, :locals => {:with_context => true, :headless => false}
    = yield :pagination if @posts.next_page

= render :partial => 'shared/standard_forum_parts'

.forum
  = yield :messages

