- if @searching = !@term.blank? || @reader || @forum || @topic
  - summary = [t('topics_and_posts')]
  - summary << t('in') + ' ' + link_to(@forum.name, forum_url(@forum)) if @forum
  - summary << t('containing') + " <strong>#{@term}</strong>" unless @term.blank?
  - summary << t('posted_by') + ' ' + link_to(@reader.name, reader_url(@reader)) if @reader
  - summary << t('in_topic') + ' ' + link_to_topic(@topic) if @topic

- feed_url_parts = {:format => :rss}
- if @searching
  - feed_url_parts[:q] = @term unless @term.blank?
  - feed_url_parts[:reader_id] = @reader.id if @reader
  - feed_url_parts[:forum_id] = @forum.id if @forum
  - feed_url_parts[:reader_id] = @topic.id if @topic

= render :partial => 'forums/standard_parts'

- content_for :title do
  = t('posts_heading')

- content_for :introduction do
  %p
    - if @searching
      = summary.join(' ') + ":"
    - else
      = t('posts_introduction')
  
- content_for :sidebar do
  - unless @searching && @posts.empty?
    = render :partial => 'posts/search_form'
  = render :partial => "topics/latest"

- content_for :pagination do
  = pagination_and_summary_for(@posts, t('post'))

- content_for :breadcrumbs do
  = link_to t('forum').titlecase, topics_url
  = t('separator')
  = yield :title

- content_for :feedurl do
  = posts_path(feed_url_parts)

- content_for :feedlink do
  = feed_link(posts_path(feed_url_parts))

- content_for :messages do
  - if @posts.empty?
    - if @searching
      %p.has_error
        = t('no_search_results')
      = render :partial => 'posts/search_form'
    - else
      %p 
        = t('no_posts')
  - else
    = yield :pagination if @posts.previous_page
    = render :partial => 'posts/post', :collection => @posts, :locals => {:with_context => true, :headless => false}
    = yield :pagination if @posts.next_page

#forum
  = yield :messages
