- content_for :signals do
  = render :partial => 'readers/flasher'

- content_for :title do
  = t('latest_posts')
  
- content_for :messages do
  - if @posts.empty?
    %p 
      = t('no_posts')
  - else
    = render :partial => 'posts/post', :collection => @posts, :locals => {:with_context => true}

- content_for :sidebar do
  = render :partial => "topics/latest"

- content_for :new_topic do
  .newmessage
    = link_to t('new_topic'), new_topic_url

- content_for :pagination do
  = pagination_and_summary_for(@posts, t('post'))

- content_for :breadcrumbs do
  = link_to 'Forum', topics_url
  \&gt;
  = @title

- content_for :breadhead do
  = link_to "Forum", topics_url, :class => 'breadhead'

- content_for :feed do
  = feed_link(posts_path(:format => :rss))

- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :help do
  = render :partial => 'topics/help'


#forum
  = yield :pagination if @posts.previous_page
  = yield :messages
  = yield :pagination if @posts.next_page
