= render :partial => 'forums/standard_parts'

- content_for :title do
  = t('posts_heading')

- content_for :introduction do
  = t('posts_introduction')
  
- content_for :sidebar do
  = render :partial => "topics/latest"

- content_for :newtopic do
  .newmessage
    = link_to t('new_topic'), new_post_url

- content_for :pagination do
  = pagination_and_summary_for(@posts, t('post'))

- content_for :breadcrumbs do
  = link_to t('forum').titlecase, topics_url
  = t('separator')
  = yield :title

- content_for :feedlink do
  = feed_link(posts_path(:format => :rss))

- content_for :messages do
  - if @posts.empty?
    %p 
      = t('no_posts')
  - else
    = yield :pagination if @posts.previous_page
    = render :partial => 'posts/post', :collection => @posts, :locals => {:with_context => true, :headless => false}
    = yield :pagination if @posts.next_page

#forum
  = yield :messages
