<%= render :partial => 'forums/controls' %>
<%= render :partial => 'forums/notification' %>

<div id="feed_preamble" class="preamble contentblock">
	<%= feed_tag('personal feed', formatted_monitored_posts_path(@user, :rss)) %>

	<h1>Personal post list</h1>
	<p>
		This page gathers up all the posts on all the topics you have subscribed to. 
		It works best as an <%= link_to "rss feed", formatted_monitored_posts_path(@user, :rss), :class => 'feedlink' %> but you can browse the list here too.
		To add topics to this page, click on the 'monitor' link that you'll see at the top of each one when you're logged in.
		To remove them, see your <%= link_to "subscriptions", user_monitorships_url(current_user) %> page.
	</p>
</div>

<%= render :partial => 'pagination', :locals => {:list => @posts, :connection => 'for'} %>

<% if @posts.total_entries > 0 %>
	<%= render :partial => 'list', :locals => {:with_context => true} %>
	<%= render :partial => 'pagination' %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= link_to 'Home', '/' %> &gt;
  <%= link_to 'Forum', '/forums' %> &gt;
  <%= link_to 'You', '/users/me' %> &gt;
  Your feed
<% end %>

<% content_for :title do %>
  Your feed
<% end %>
