- content_for :person do
  = standard_gravatar_for(current_reader)
  
- content_for :context do
  %p.context
    = t('forum_extension.if_you_not', :name => current_reader.name)
    = link_to(t('reader_extension.log_out'), reader_logout_url) + '.'

- content_for :title do
  - if @page
    = t('forum_extension.new_comment')
  - elsif @topic 
    = t('forum_extension.new_reply')
  - else
    = t('forum_extension.new_topic')

- content_for :breadhead do
  - if @page
    = link_to @page.title, @page.url, :class => 'breadhead'
  - elsif @topic 
    = link_to_topic(@topic, :class => 'breadhead')

- content_for :form do
  = yield :context
  = render :partial => 'form', :locals => {:post => @post}

= render :partial => 'shared/standard_forum_parts'

.forum
  = yield :form

