= render :partial => 'forums/standard_parts'

- content_for :form do
  .post
    .wrapper
      .post_header
        .speaker
          = standard_gravatar_for(current_reader)
        %h2.person
          = current_reader.name
        %p.context
          = t('forum.if_you_not', :name => current_reader.name)
          = link_to(t('forum.log_out'), reader_logout_url) + '.'
      = render :partial => 'form', :locals => {:post => @post}

- content_for :person do
  - standard_gravatar_for(current_reader)

- content_for :title do
  - if @page
    = t('forum.new_comment')
  - elsif @topic 
    = t('forum.new_reply')
  - else
    = t('forum.new_topic')

- content_for :breadhead do
  - if @page
    = link_to @page.title, @page.url, :class => 'breadhead'
  - elsif @topic 
    = link_to_topic(@topic, :class => 'breadhead')

#forum
  = yield :form