/ this template is generally only where you don't want a reply form on the page by default,
/ and instead bring it in with a remote call. most often this is for page comments, where
/ it has the advantage that the page can still be cached. that's why a login form might be returned.

- message_type = @page ? 'comment' : 'message'
- formurl = @page ? page_posts_url(@page) : posts_url(@forum, @topic)

#forum
  - if response.layout
    %p
      Please check your message below. If it's ok, press 'post message' to add it to the site.
  %div.post
    %div{:class => 'reply'}
      %div.post_header
        %h2
          %a{:href => reader_url(@post.reader), :class => 'main'}
            = gravatar_for(@post.reader, {:size => 40}, {:alt => @post.reader.name, :class => 'gravatar', :width => '40', :height => '40'})
            = @post.reader.name
        %p.context
          replied
          = time_ago_in_words(@post.created_at)
          ago
      %div.post_body
        = clean_textilize(@post.body)
      %div.post_confirmation
        - form_for :post, :url  => formurl, :html => {:id => 'reply_form', :class => 'friendly'} do |f|
          = f.hidden_field :body
          = submit_tag 'confirm', :class => 'confirm', :id => 'confirm'
          or 
          = submit_tag 'revise', :class => 'revise', :id => 'revise' 
          or
          = link_to 'cancel', @page ? @page.url : forum_topic_url(@topic.forum, @topic), :class => 'cancelform'
