- content_for :parent do
  = link_to_topic(@post.topic)

- content_for :breadhead do
  %span.breadhead
    = link_to t('forum_extension.forum').titlecase + t('reader_extension.separator'), topics_url
    = link_to @post.topic.forum.name + t('reader_extension.separator'), forum_url(@post.topic.forum)
    = yield :parent

- content_for :context do
  %p.context
    = render :partial => 'posts/context'

- content_for :person do
  = standard_gravatar_for(@post.reader)

- content_for :title do
  - if @post.page
    = t('forum_extension.confirm_remove_comment')
  - elsif @post.first?
    = t('forum_extension.confirm_remove_topic')
  - else
    = t('forum_extension.confirm_remove_post')

= render :partial => 'shared/standard_forum_parts'

= render :partial => 'confirm_delete', :locals => {:post => @post}
