= render :partial => 'forums/standard_parts'

- content_for :messages do
  = render :partial => 'confirm_delete', :locals => {:post => @post}

- content_for :parent do
  = link_to_topic(@post.topic)

- content_for :breadhead do
  = link_to t('forum_extension.forum').titlecase + t('forum_extension.separator'), topics_url
  = link_to @post.topic.forum.name + t('forum_extension.separator'), forum_url(@post.topic.forum)
  = yield :parent

- content_for :person do
  = standard_gravatar_for(@post.reader)

- content_for :title do
  - if @post.page
    = t('forum_extension.confirm_remove_comment')
  - elsif @post.first?
    = t('forum_extension.confirm_remove_topic')
  - else
    = t('forum_extension.confirm_remove_post')

  
#forum
  = yield :messages