= render :partial => 'forums/standard_parts'

- content_for :messages do
  = render :partial => 'post', :object => @post

- content_for :parent do
  = link_to_topic(@post.topic)

- content_for :breadhead do
  = link_to t('forum').titlecase + t('separator'), topics_url
  = link_to @post.topic.forum.name + t('separator'), forum_url(@post.topic.forum)
  = yield :parent

- content_for :person do
  = standard_gravatar_for(@post.reader)

- content_for :title do
  -if @post.page
    = t('comment_on') + @post.page.title
  - elsif @post.first?
    = @post.topic.name
  - else
    = t('reply_to') + @post.topic.name

- content_for :sidebar do
  = render :partial => 'topics/latest'



#forum
  = yield :messages