- content_for :messages do
  = render :partial => 'post', :object => @post

- content_for :context do
  %p.context
    = render :partial => 'posts/context'

- content_for :parent do
  = link_to_topic(@post.topic)

- content_for :breadhead do
  %span.breadhead
    = link_to t('forum').titlecase, topics_url
    = t('reader_extension.separator')
    = link_to @post.topic.forum.name, forum_url(@post.topic.forum)
    = t('reader_extension.separator')
    = yield :parent

- content_for :person do
  = standard_gravatar_for(@post.reader)

- content_for :title do
  -if @post.page
    = t('forum_extension.comment_on') + @post.page.title
  - elsif @post.first?
    = @post.topic.name
  - else
    = t('forum_extension.reply_to') + @post.topic.name

- content_for :sidebar do
  = render :partial => 'topics/latest'

= render :partial => 'shared/standard_forum_parts'

.forum
  = yield :messages

