- include_stylesheet('admin/forum')
= render_region :top 

%h1 Discussion Categories
%p This is where you sort out the discussion filing. To edit or remove messages or whole discussions, use the links on forum pages. 

%table#forums.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  %thead
    %tr
      - render_region :thead do |thead|
        - thead.title_header do
          %th.forum Forum
        - thead.latest_header do
          %th.forum_latest Latest activity
        - thead.modify_header do
          %th.action Action
  %tbody
    - @forums.each do |forum|
      %tr.node.level-1
        - render_region :tbody do |tbody|

          - tbody.title_cell do
            %td.forum
              %h3
                = link_to forum.name, edit_admin_forum_url(:id => forum)
              -if forum.for_comments
                %p.context
                  (comments forum)
              = textilize(forum.description)
              %p
                = link_to "&rarr; browse discussions", 'http://' + forum.site.base_domain + forum_path(forum)
                
          - tbody.latest_cell do
            %td.forum_latest
              - if forum.posts_count > 0
                %ul.latest
                  - forum.posts.latest.each do |post|
                    %li.post
                      - if post.topic.page
                        = link_to post.topic.page.title, "#{post.topic.page.url}##{post.dom_id}", {:class => 'topic'}
                      - else
                        = link_to post.topic.name, topic_url(post.topic.forum, post.topic, :page => post.topic_page, :anchor => post.dom_id), {:class => 'topic'}
                      %br
                      %span.context
                        - if post.topic.page
                          commented on by
                        - elsif post.first?
                          started by 
                        - else
                          replied to by
                        = link_to post.reader.name, edit_admin_reader_url(post.reader), {:class => 'reader'}
                        on
                        = post.created_at.to_s(:html_date)
              -else
                %p
                  No posts yet.
          - tbody.modify_cell do
            %td.remove
              -if forum.for_comments
                = image('noremove', :alt => 'Remove Forum')
              -else
                - if admin?
                  = link_to image('remove', :alt => 'Remove Forum'), remove_admin_forum_url(:id => forum) 
                - else
                  = image('no-remove', :alt 'only admin can edit readers')

- render_region :bottom do |bottom|
  - bottom.new_button do
    - if admin?
      %p
        = link_to image('new-forum', :alt => 'New Forum'), new_admin_forum_url
