%h1 Remove Discussion Category

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the 
  = link_to @forum.name, forum_url(@forum)
  discussion category?
  - if @forum.topics_count > 0  
    It contains 
    = @forum.topics_count 
    discussions and
    = @forum.posts_count 
    messages, 
    %strong.warning all of which will also be deleted
  - else
    It contains no discussions.

%p.buttons
  = button_to("Delete Forum", admin_forum_url(@forum), {:method => 'delete', :confirm => 'Really delete forum?', :class => 'button'})
  or
  = link_to 'Cancel', admin_forums_url