<%= render :partial => 'forums/controls' %>
<%= render :partial => 'forums/notification' %>

<div id="forum_preamble" class="contentblock">
  <h2>Watch list</h2>
  
  <p>
		New posts in any these topics will show up in your personal feed, which you can see as a <%= link_to "web page", monitored_posts_url %> or an <%= link_to "rss feed", formatted_monitored_posts_url(current_user, :rss), :class => 'feedlink' %>.
		To add a topic to this list, click on the 'watch this' link at the top of the topic page.
	</p>
	
  <% @topics.group_by(&:forum).each do |forum, topics| %>
		<h3 class="section""><%= forum.name %></h3>
		
		<% topics.each do |topic| %>
			<%= watch_tag(topic, topic.title) %>
		<% end %>
	<% end%>

	<p>
		You can remove any of these topics from your feed by clicking it in the list above (or on the topic page). It will remain in this list so you can easily reactivate the subscription.
	</p>

</div>

<% content_for :breadcrumbs do %>
  <%= link_to 'Home', '/' %> &gt;
  <%= link_to 'Forum', '/forums' %> &gt;
  <%= link_to 'You', '/users/me' %> &gt;
  Subscriptions
<% end %>

<% content_for :title do %>
  Your subscriptions
<% end %>
